<div class="container">
	<nav class="navbar navbar-inverse navbar-fixed-top">
	  <div class="container-fluid">
		<div class="navbar-header">
		  	<div class="navbar-brand"><img src="./images/icon.png" height=30 width=30> </div>
      		<a class="navbar-brand" href="#" ng-click="$ctrl.gohome()">Blockchain Red Alert</a>
    	</div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
        	<button class="btn btn-info navbar-btn" ng-hide="$ctrl.RedAlert.name" ng-click="$ctrl.setName()">
				Register
			</button>
			<a class="nav-tag" ng-show="$ctrl.RedAlert.name"> {{$ctrl.RedAlert.name}} </a>
        </li>
        <li class="dropdown" ng-show="$ctrl.RedAlert.keywords">
          <a class="nav-tag"> Keywords </a>
          <div class="dropdown-content">
            <div class="desc nav-tag"> {{$ctrl.RedAlert.keywords}} </div>
          </div>
        </li>
        <li>
          <button class="btn btn-info navbar-btn" ng-click="$ctrl.refresh()">
				Refresh
			</button>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
    </div>
	</nav>


	<div class="row">
		<div class="col-md-10">
			<h1>Game#{{$ctrl.RedAlert.bytes32ToInt($ctrl.gameID)}} - {{$ctrl.data.player1Name}} vs {{$ctrl.data.player2Name}}</h1>
		</div>
		<div class="col-md-10">
			<h2>Battle Unit Size: 
			{{ $ctrl.data.minBoatLength ? ("["+$ctrl.data.minBoatLength+", "+$ctrl.data.maxBoatLength+"]") : ""}}
			</h2>
			<p>&nbsp</p>
			<p>&nbsp</p>
		</div>
		
	
		<div class="col-md-6" ng-show="$ctrl.canWin && $ctrl.data.gameState.toNumber() == 3">
			<button class="btn btn-success" ng-click="$ctrl.winTheGame()">
				You can win! Press here to win.
			</button>
		</div>
		<div  class="col-md-6" ng-show="$ctrl.data.gameState.toNumber() == 4">
			<h2>Winner: {{$ctrl.RedAlert.data.account == $ctrl.data.winner ? "You!" : "Not you..."}}</h2>
			<button 
				class="btn btn-primary"
				ng-click="$ctrl.withdrawWinnings()"
				ng-disabled="$ctrl.withdrawing"
				ng-show="$ctrl.RedAlert.data.account == $ctrl.data.winner && $ctrl.data.availablePot.toNumber()">
				Withdraw winnings
			</button>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			
			<nav class="navbar">
  			<div class="container-fluid">
		        <a class="navbar-brand field-navbar-text">My field</a>
			    <button class="btn btn-dark navbar-bold" ng-click="$ctrl.show()"  ng-show="$ctrl.loaded" >
			    	{{$ctrl.currentState}}
			    </button>
				<button class="btn btn-dark navbar-bold" ng-show="$ctrl.loaded && $ctrl.data.gameState.toNumber() == 3">
				Turn: {{$ctrl.myTurn ? "Mine" : "Other player"}}
				</button>
				<button id="timer1" class="btn btn-warning" ng-click="$ctrl.setCountDown()" ng-show="$ctrl.countDown && ($ctrl.data.gameState.toNumber() ==1 || ( $ctrl.data.gameState.toNumber() ==3 && $ctrl.myTurn) )"> 
					30mins 0s
		        </button>
		    </div><!-- /.container-fluid -->
			</nav>

			<p ng-hide="$ctrl.board">
				Loading...
			</p>
			
			<div class="board-bck">
			<table ng-show="$ctrl.board">
				<th></th>
				<!--<th 
					class="column left-border" 
					ng-repeat="row in $ctrl.board track by $index">
					<b>{{$ctrl.columns[$index]}}</b>
				</th>-->
				<tr ng-repeat="row in $ctrl.realTimeBoard track by $index">
					<!--<td class="top-border">
						<b>{{$index+1}}</b>
					</td>-->
					<td ng-repeat="ele in row track by $index">
						<button 
							class="btn cell" 
							ng-disabled="$ctrl.data.gameState.toNumber() >= 3 && !$ctrl.cheating"
							ng-click="$ctrl.layPiece($parent.$index, $index)"
							ng-class='{
								"laying": $ctrl.laying.x == $parent.$index && $ctrl.laying.y == $index,
								"my-board-cell": $ctrl.data.gameState.toNumber() < 3,
								"placed": ele > 0,
								"cell-icon-tank_hit": ele < 0 && ele >=-$ctrl.midBoatLength,
								"cell-icon-soldier_hit": ele >=-10 && ele < -$ctrl.midBoatLength,
								"hit": ele == 100,
								"cell-icon-tank": ele >=1 && ele <=$ctrl.midBoatLength,
								"cell-icon-soldier": (ele > $ctrl.midBoatLength && ele <=10) ,
							}'>
							<!--<span ng-show="ele != 0 && ele <= $ctrl.maxBoatLength">
								{{ele < 0 ? ele * -1 : ele}}
							</span>-->
						</button>
					</td>
				</tr>
			</table>
			</div>

			<!--<button ng-show="$ctrl.loaded 
					&& ($ctrl.data.gameState.toNumber() == 1 || $ctrl.data.gameState.toNumber() == 2)
					&& $ctrl.numberOfTanksPlaced($ctrl.board) == $ctrl.maxBoatLength + 1 - $ctrl.minBoatLength"
					ng-disabled="$ctrl.data.gameState.toNumber() == 1"
				class="btn btn-success"
				style="margin-top: 50px;"
				ng-click="$ctrl.startGame()">
				Start game
			</button>-->
			<button ng-show="$ctrl.loaded && $ctrl.data.gameState.toNumber() == 1 && $ctrl.checkAllUnits()"
					ng-disabled="$ctrl.ready"
				class="btn btn-success"
				style="margin-top: 50px;"
				ng-click="$ctrl.readyToPlay()">
				Ready to play
			</button>
			<button ng-show="$ctrl.loaded && $ctrl.data.gameState.toNumber() == 1"
					ng-disabled="$ctrl.ready"
				class="btn btn-success"
				style="margin-top: 50px;"
				ng-click="$ctrl.reset()">
				Reset
			</button>
			<button ng-show="$ctrl.loaded && $ctrl.data.gameState.toNumber() == 0"
					ng-disabled="$ctrl.ready"
				class="btn btn-success"
				style="margin-top: 50px;"
				ng-click="$ctrl.cancel()">
				Cancel Game
			</button>

			<button ng-show="$ctrl.loaded && !$ctrl.cheating && $ctrl.data.gameState.toNumber() ==3"
					ng-disabled="!$ctrl.myTurn || $ctrl.moving"
				class="btn btn-info"
				style="margin-top: 50px;"
				ng-click="$ctrl.cheat()">
				Cheat
			</button>
			<button ng-show="$ctrl.loaded && $ctrl.cheating  && $ctrl.data.gameState.toNumber() ==3"
				class="btn btn-info"
				style="margin-top: 50px;"
				ng-click="$ctrl.cancelCheat()">
				Cancel
			</button>

			<button ng-show="$ctrl.loaded && $ctrl.cheating  && $ctrl.data.gameState.toNumber() ==3"
				class="btn btn-info"
				style="margin-top: 50px;"
				ng-click="$ctrl.cheat()">
				Reset
			</button>

			<button ng-show="$ctrl.loaded && $ctrl.cheating && $ctrl.data.gameState.toNumber() ==3"
				class="btn btn-info"
				style="margin-top: 50px;"
				ng-click="$ctrl.confirmCheat()">
				Confirm
			</button>

			<button ng-show="$ctrl.loaded && $ctrl.data.gameState.toNumber() != 0 && $ctrl.data.gameState.toNumber() != 4"
				class="btn btn-danger"
				style="margin-top: 50px;"
				ng-click="$ctrl.surrender()">
				Surrender
			</button>
			<button ng-show="$ctrl.loaded && $ctrl.data.gameState.toNumber() != 0 && $ctrl.data.gameState.toNumber() != 4"
				class="btn btn-warning"
				style="margin-top: 50px;"
				ng-click="$ctrl.challengeTimeOut()">
				Challenge TimeOut
			</button>
			<!---->
			<table ng-show="$ctrl.showHelp1" class="table" style="margin-top: 50px;">
				<tr>
					<th>Block</th>
					<th>What it means</th>
				</tr>
				<tr>
					<td>
						<button 
							class="pointers cell laying"
							>
						</button>
					</td>
					<td> You're laying your tank/soldier down</td>
				</tr>
				<tr>
					<td>
						<button class="btn cell-icon-tank placed">
						
						</button>
						<button class="btn cell-icon-soldier placed">
						
						</button>
					</td>
					<td> Your tank/soldier with the length it is inside</td>
				</tr>
				<tr>
					<td>
						<button 
							class="btn cell-icon-tank_hit"
							>
						</button>
						<button 
							class="btn cell-icon-soldier_hit"
							>
						</button>
					</td>
					<td> They hit your tank/soldier</td>
				</tr>
				<tr>
					<td>
						<button 
							class="btn cell hit"
							>
						</button>
					</td>
					<td> They missed your tank/soldier</td>
				</tr>
			</table>
			<button ng-click="$ctrl.showHelp1 = !$ctrl.showHelp1" class="btn btn-success" style="margin-top: 50px;">
				{{$ctrl.showHelp1 ? "Hide help": "Show help"}}
			</button>
		</div>

		<div class="col-md-6" ng-show="$ctrl.data.gameState.toNumber() >= 3">
			<nav class="navbar">
  			<div class="container-fluid">
		        <a class="navbar-brand field-navbar-text">Enemy's field</a>
		        <button id="timer2" class="btn btn-warning" ng-click="$ctrl.setCountDown()" ng-show="$ctrl.countDown && (!$ctrl.myTurn) && $ctrl.data.gameState.toNumber() ==3"
		        > 
		        30mins 0s
		        </button>
			</button>
		    </div><!-- /.container-fluid -->
			</nav>

			<p ng-hide="$ctrl.otherBoard">
				Loading...
			</p>
			
			<div class="board-bck-other">
			<table ng-show="$ctrl.otherBoard">
				<th></th>
				<!--<th 
					class="column left-border"
					ng-repeat="row in $ctrl.otherBoard track by $index"
					>
					<b>{{$ctrl.columns[$index]}}</b>
				</th>-->
				<tr ng-repeat="row in $ctrl.otherBoard track by $index">
					<!--<td class="top-border">
						<b>{{$index+1}}</b>
					</td>-->
					<td ng-repeat="ele in row track by $index">
						<button 
							style="width: 40px; height: 40px;" 
							class="btn cell" 
							ng-disabled="$ctrl.data.gameState.toNumber() > 3 || $ctrl.canWin"
							ng-click="$ctrl.makeMove($parent.$index, $index)"
							ng-class='{
								"unknown": ele == 101,
								"missed": ele == 100,
								"other-board-cell": !$ctrl.moving && $ctrl.myTurn,
								
								"cell-icon-tank_hit2": ele <0 && ele>=-$ctrl.midBoatLength,
								"cell-icon-soldier_hit2": (ele < -$ctrl.midBoatLength && ele >-100),
								"cell-icon-tank": ele >=1 && ele <=$ctrl.midBoatLength,
								"cell-icon-soldier": (ele > $ctrl.midBoatLength && ele <=10)
							}'>
						</button>
					</td>
				</tr>
			</table>
			</div>

			<table ng-show="$ctrl.showHelp2" class="table" style="margin-top: 50px;">
				<tr>
					<th>Block</th>
					<th>What it means</th>
				</tr>
				<tr>
					<td>
						<button 
							class="btn cell-icon-tank_hit2"
							>
						</button>
						<button 
							class="btn cell-icon-soldier_hit2"
							>
						</button>
					</td>
					<td> You hit their tank/soldier </td>
				</tr>
				<tr>
					<td>
						<button class="missed" > </button>
					</td>
					<td> You missed their tank/soldier </td>
				</tr>
				<tr>
					<td>
						<button class="btn cell unknown" > </button>
					</td>
					<td> Waiting for confirmation </td>
				</tr>
			</table>
			<button ng-click="$ctrl.showHelp2 = !$ctrl.showHelp2" class="btn btn-success" style="margin-top: 50px;">
				{{$ctrl.showHelp2 ? "Hide help": "Show help"}}
			</button>
		</div>
	</div>
</div>