.navbar {
  margin-bottom: 0;
}

.navbar-brand {
  font-family: "Times New Roman", Times, red serifs;
  font-style: italic;
  font-weight: bold;
  color: white !important;
  font-size: 25px !important;
}

.field-navbar-text {
  font-family: "Times New Roman", Times, red serifs;
  font-size: 24px;
  font-weight: bold;
  color: white !important;
}

.navbar-brand-field {
  font-family: "Times New Roman", Times, red serifs;
  font-weight: bold;
}

.table-background {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 30px;
  padding-bottom: 0px
}


.navbar-bold {
  font-weight: bold !important;
}

.nav-tag {
  font-family: "Times New Roman", Times, red serifs;
  font-weight: bold;
  color: white !important;
  font-size: 20px !important;
  margin-left: 30px;
  margin-right: 30px;
}

.game-desc {
  font-family: "Times New Roman", Times, red serifs;
  font-weight: bold;
  font-size: 20px !important;
}

.game-icon {
  vertical-align: middle !important;
}


.btn {
  vertical-align: middle !important;
  text-align: center !important;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #101010;
    min-width: 160px;
    box-shadow: 6px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    box-align: center;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.navbar-btn {
  margin-left: 20px;
  margin-right: 20px;
}

.desc {
    padding: 15px;
    text-align: center;
}

.board-bck {
  background: url("./images/pubg.jpg") no-repeat;
  background-size: cover;
  padding: 10px;
  height: 430px;
  width: 430px;
}

.board-bck-other {
  background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%), url("./images/pubg.jpg") no-repeat;
  background-size: cover;
  padding: 10px;
  height: 430px;
  width: 430px;
}

body {
  padding: 100px;
  background: linear-gradient(to bottom, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.8) 100%), url("./images/redalert.jpg") no-repeat center center fixed;
}

label {
  display: inline-block;
  width: 100px;
}

input {
  width: 1000px;
  padding: 5px;
  font-size: 16px;
}

button {
  font-size: 16px;
  padding: 5px;
}

h1 {
  display: inline-block;
  vertical-align: middle;
  color: #b23e3e;
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: bold;
}


h2 {
    display: inline-block;
    vertical-align: middle;
    color: #AAA;
    margin-top: 0px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 24px;
}

h3 {
  font-weight: normal;
  color: #AAA;
  font-size: 24px;
}

p, b {
  color: #27ae60;
  font-weight: bold;
}

.add-new {
  cursor: pointer;
}

tr {
  cursor: pointer;
  color: white;
}

tr.games:hover {
  color: #27ae60;
}

.black {
  color: black;
}

#balance {
  color: black;
}

.cell {
  width: 40px;
  height: 40px;
  background: transparent;
  border-radius: 0px;
  border: 1px white solid;
  border-color: rgba(0,0,0,0.4);
}

.cell-icon-soldier {
  width: 40px;
  height: 40px;
  background: url("./images/soldier.png") !important;
  background-size: 100% 100% !important;
  background-position: center;
}

.cell-icon-tank {
  width: 40px;
  height: 40px;
  background: url("./images/tank.png") !important;
  background-size: 100% 100% !important;
}

.cell-icon-soldier_hit {
  width: 40px;
  height: 40px;
  background: url("./images/soldier_hit.png") !important;
  background-size: 100% 100% !important;
  background-position: center;
}

.cell-icon-tank_hit {
  width: 40px;
  height: 40px;
  background: url("./images/tank_hit.png") !important;
  background-size: 100% 100% !important;
}

.cell-icon-soldier_hit2 {
  width: 40px;
  height: 40px;
  background: url("./images/soldier_hit2.png") !important;
  background-size: 100% 100% !important;
  background-position: center;
}

.cell-icon-tank_hit2 {
  width: 40px;
  height: 40px;
  background: url("./images/tank_hit2.png") !important;
  background-size: 100% 100% !important;
}

@media (max-width: 768px) {
  .cell {
    width: 25px !important;
    height: 25px !important;
  }
  body {
    padding: 0px;
  }
}

.column {
  text-align: center;
}

.left-border {
  border-left: 1px white solid;
}

.left-border {
  border-left: 1px white solid;
}

.top-border {
  border-top: 1px white solid;
}

.bottom-border {
  border-bottom: 1px white solid;
}

.pointers {
  margin-top: 15px;
  float: left;
}

.hint {
  color: #666;
}

.laying {
  background: #36d8c3;
  color: white;
}

.my-board-cell:hover{
  background: #36d8c3;
  color: white;
}

.other-board-cell:hover{
  width: 40px;
  height: 40px;
  background: url("./images/missile.jpg") !important;
  background-size: 100% 100% !important;
  opacity: 0.7;
  color: white;
}

.placed {
  background: #36d8c3;
  color: white;
}

.hit {
  background: #27ae60;
  color: white;
  width: 40px;
  height: 40px;
  opacity: 0.5;
}

.unknown {
  width: 40px;
  height: 40px;
  background: url("./images/unknown.png") !important;
  background-size: 100% 100% !important;
  color: white;
}

.missed {
  width: 40px;
  height: 40px;
  background: #c0392b;
  opacity: 0.5;
  color: white;
}

