<div class="container wrapper">
	<nav class="navbar navbar-inverse navbar-fixed-top">
	  <div class="container-fluid">
		<div class="navbar-header">
		  	<div class="navbar-brand"><img src="./images/icon.png" height=30 width=30> </div>
      		<a class="navbar-brand" href="#" ng-click="$ctrl.goToHome()">Blockchain Red Alert</a>
    	</div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a class="nav-tag" href="#" ng-click="$ctrl.goToDefense()">Defense</a></li>
        <li><a class="nav-tag" href="#" ng-click="$ctrl.goToAttack()">Attack</a></li>
        <li><a class="nav-tag" href="#" ng-click="$ctrl.goToJoined()">Joined combats</a></li>
        <li><a class="nav-tag" href="#" ng-click="$ctrl.goToWatch()">Other combats</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li> <!-- ng-hide="$ctrl.RedAlert.name" -->
        	<button class="btn btn-info navbar-btn" ng-hide="$ctrl.RedAlert.name" ng-click="$ctrl.setName()">
				Sign Up
			</button>
			<a class="nav-tag" ng-show="$ctrl.RedAlert.name"> {{$ctrl.RedAlert.name}} </a>
        </li>
        <!-- ng-hide="$ctrl.RedAlert.keywords" -->
        <li class="dropdown" ng-show="$ctrl.RedAlert.keywords">
          <a class="nav-tag"> Keywords </a>
          <div class="dropdown-content">
            <div class="desc nav-tag"> {{$ctrl.RedAlert.keywords}} </div>
          </div>
        </li>
        <li >
          <button class="btn btn-info navbar-btn" ng-show="$ctrl.RedAlert.name" ng-click="$ctrl.setKeywords()">
				Set keywords
			</button>
        </li>
        <!--<li ng-hide="$ctrl.RedAlert.publicKey">
        	<button class="btn btn-info navbar-btn" ng-click="$ctrl.setKeys()">
				Set my gameKeys
			</button>
        </li>
    	-->
      </ul>
    </div><!-- /.navbar-collapse -->
    </div>
	</nav>

	<div class="row" ng-show="$ctrl.isHome">

		<div class="col-md-6 col-md-offset-3">
			<h2>Game Description</h2>
			<p>Red alert is a popular real-time strategy video game of the Command & Conquer franchise</p>
			<p>Our "blockchain red alert" is a simplified turn-based game. It is implemented based on ethereum, a world-famous open-source, public, blockchain-based distributed computing platform.</p>
			<p>At the beginning of each battle, each party knows its own layout but not the other party's. The enemy's field is covered by a black curtain. The game will randomly pick one of the two players to start attacking first. The lucky player could attack any grid on the enemy's field, while she doesn't know exactly which grids contain units such as tanks or soldiers.</p>
			<p>If a player can play a move and successfully hit some unit of the enemy, she can continue to make the next move to hit another unit until she misses a shot. If you successfully hit a grid containing a battle unit (tank or soldier), the content of the grid will be revealed with a green check mark. Otherwise, if you miss a shot, (namely, you hit an empty grid), the empty grid will be revealed with a red mark.</p>
			<p>The player who successfully hits all the enemy's objects win the game and can take away all the awards in the game pot.</p>
			<p class="game-desc">ENJOY IT !!!</p>
		</div>
	</div>

	<div class="row" ng-show="$ctrl.isDefense">
		<div class="col-md-6 col-md-offset-3 table-background">
			<h2>Defensive Battle Fields</h2>
			<a ng-click="$ctrl.newGame()">
				<button class="btn btn-danger">
					new battle field
				</button>
			</a>
			<table class="table table-hover">
				<tr class="games">
					<th>GameID</th>
					<th>Game State</th>
					<th>Game Pot</th>
					<th>Tank Size</th>
					<th>Attacking player</th>
					<th>Winner</th>
				</tr>
				<tr class="games" style="cursor: pointer;" ng-click="$ctrl.playGame(game)" ng-repeat="game in $ctrl.myGames">
					<td>
						{{$ctrl.RedAlert.bytes32ToInt(game.gameID)}}
					</td>
					<td>
						{{$ctrl.RedAlert.states[game.gameState.toNumber()]}}
					</td>
					<td>
						{{$ctrl.RedAlert.weiToEth(game.pot)}} ETH
					</td>
					<td>
						[{{game.minBoatLength}},{{game.maxBoatLength}}]
					</td>
					<td>
						{{game.player2Name}}
					</td>
					<td>
						{{game.winner == game.player1 ? game.player1Name : ""}}
						{{game.winner == game.player2 ? game.player2Name : ""}}
					</td>
				</tr>
			</table>
		</div>
	</div>

	<div class="row" ng-show="$ctrl.isJoined"> <!-- ng-show="$ctrl.joinedGames.length" -->
		<div class="col-md-6 col-md-offset-3 table-background">
			<h2>Combats I've joined</h2>
			<table class="table table-hover">
				<tr class="games">
					<th>GameID</th>
					<th>Game State</th>
					<th>Game Pot</th>
					<th>Tank Size</th>
					<th>Other player</th>
					<th>Winner</th>
				</tr>
				<tr class="games" style="cursor: pointer;" ng-click="$ctrl.playGame(game)" ng-repeat="game in $ctrl.joinedGames">
					<td>
						{{$ctrl.RedAlert.bytes32ToInt(game.gameID)}}
					</td>
					<td>
						{{$ctrl.RedAlert.states[game.gameState.toNumber()]}}
					</td>
					<td>
						{{$ctrl.RedAlert.weiToEth(game.pot)}} ETH
					</td>
					<td>
						[{{game.minBoatLength}},{{game.maxBoatLength}}]
					</td>
					<td>
						{{game.player1Name}}
					</td>
					<td>
						{{game.winner == game.player1 ? game.player1Name : ""}}
						{{game.winner == game.player2 ? game.player2Name : ""}}
					</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="row" ng-show="$ctrl.isAttack">
		<div class="col-md-6 col-md-offset-3 table-background">
			<h2>Attackable fields</h2>
			<table class="table table-hover">
				<tr class="games">
					<th>GameID</th>
					<th>Game State</th>
					<th>Game Pot</th>
					<th>Tank Size</th>
					<th>Defending player</th>
					<th>Attacking player</th>
				</tr>
				<tr class="games" style="cursor: pointer;" ng-click="$ctrl.joinGame(game)" ng-repeat="game in $ctrl.AttackableGames">
					<td>
						{{$ctrl.RedAlert.bytes32ToInt(game.gameID)}}
					</td>
					<td>
						{{$ctrl.RedAlert.states[game.gameState.toNumber()]}}
					</td>
					<td>
						{{$ctrl.RedAlert.weiToEth(game.pot)}} ETH
					</td>
					<td>
						[{{game.minBoatLength}},{{game.maxBoatLength}}]
					</td>
					<td>
						{{game.player1Name}}
					</td>
					<td>
						{{game.player2Name}}
					</td>
				</tr>
			</table>
		</div>
	</div>

	<div class="row" ng-show="$ctrl.isWatch">
		<div class="col-md-6 col-md-offset-3 table-background">
			<h2>Other battle fields</h2>
			<table class="table table-hover">
				<tr class="games">
					<th>GameID</th>
					<th>Game State</th>
					<th>Game Pot</th>
					<th>Tank Size</th>
					<th>Defending player</th>
					<th>Attacking player</th>
				</tr>
				<tr class="games" style="cursor: pointer;" ng-repeat="game in $ctrl.otherUnattackableGames">
					<td>
						{{$ctrl.RedAlert.bytes32ToInt(game.gameID)}}
					</td>
					<td>
						{{$ctrl.RedAlert.states[game.gameState.toNumber()]}}
					</td>
					<td>
						{{$ctrl.RedAlert.weiToEth(game.pot)}} ETH
					</td>
					<td>
						[{{game.minBoatLength}},{{game.maxBoatLength}}]
					</td>
					<td>
						{{game.player1Name}}
					</td>
					<td>
						{{game.player2Name}}
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>